body{
  overflow: hidden;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding:(20rem/16) 0;
  cursor: default;
}
header{
  h1{
    font-size: (40rem/16);
  }
}

main{
  width: 80vw;
  height: 75vh;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.4);
  div{
    header{
      line-height: 8vh;
      text-indent: (25rem/16);
      font-size: (20rem/16);
      span{
        display: inline-block;
        vertical-align: middle;
        font-size: (16rem/16);
        background-color: rgba(0,0,0,0.9);
        line-height: (28rem/16);
        padding: 0 (25rem/16);
        margin-left: (10rem/16);
      }
    }
  }
  .signIn{
    ul{
      height:67vh;
      overflow-y: scroll;
      li{
        display: inline-block;
        margin:2vh;
        text-align: center;
        img{
          width: 92px;
          margin:0 auto;
          border-radius: 50%;
        }
        p{
          line-height: (25rem/16);
          font-size: (16rem/16);
        }
      }
    }
  }
  .message{
    &>div{
      .pull-left{
        width: 20vw;
        text-align: center;
        margin-top: 10vh;
        img{
          width: 60%;
        }
        p{
          color: #FFFFFF;
          font-size: (20rem/16);
          line-height: (40rem/16);
          text-shadow: 0 1px 3px #000000;
        }
      }
      .pull-right{
        overflow-y: scroll;
        height:67vh;
        width: 58vw;
        li{
          background-color: #FFFFFF;
          box-shadow: 0 0 10px rgba(0,0,0,.8);
          padding:5px;
          border-radius: 3px;
          margin:2vw;
          overflow: hidden;
          img{
            width: 20%;
            border-radius: 50%;
          }
          div{
            display: inline-block;
            vertical-align: middle;
            margin-left: 1vw;
            p{
              font-size: (30rem/16);
              color: #532d5e;
            }
            strong{
              font-size: (40rem/16);
              color: #000;
            }
          }
        }
      }
    }
  }
  .time{
    position: relative;
    #timeBox{
      width: 100%;
      height:67vh;
    }
    #timeText{
      position: absolute;
      font-size: (60rem/16);
      top:55%;
      left:50%;
    }
    button{
      color: #DDDDDD;
      position: absolute;
      bottom:5vh;
      left:5vh;
      background-color: rgb(0, 100, 0);
      padding:10px 20px;
      border-radius: 5px;
      &:hover{
        color: #FFFFFF;
      }
    }
  }
  .prize{
    overflow: hidden;
    &>.pull-left{
      width: 75%;
      ul{
        height:67vh;
        overflow-y: scroll;

        text-align: center;
        li{
          width: 150px;
          display: inline-block;
          img{
            width: 60%;
            border-radius: 50%;
          }
          p{
            line-height: (36rem/16);
            font-size: (16rem/16);
          }
        }
      }
    }
    &>.pull-right{
      height:75vh;
      width: 25%;
      position: relative;
      .prizeLevel{
        width: 90%;
        margin:3vh auto 0 auto;
        position: relative;
        p{
          position: relative;
          padding:2vh;
          border-radius: 3px;
          border: 1px solid rgba(255,255,255,.3);
          background-color: rgba(255,255,255,.1);
          cursor: pointer;
          font-size: (12rem/16);
          span{
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
            position: absolute;
            top:50%;
            right:5%;
          }
          .toTop{
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
        ul{
          width: 100%;
          position: absolute;
          top:7vh;
          left:0;
          z-index: 999;
          color: #444;
          background-color: #FFFFFF;
          li{
            line-height: 42px;
            padding:0 10px;
            &:hover{
              background-color: #CCCCCC;
            }
          }
        }
      }
      .prizeNum{
        overflow: hidden;
        font-size: (30rem/16);
        width: 90%;
        margin:2vh auto;
        text-align: center;
        line-height: 8vh;
        border: 1px solid rgba(255,255,255,.3);
        border-radius: 3px;
        a{
          width: 20%;
          background: rgba(255,255,255,.3);
        }
      }
      .prizePic{
        width: 90%;
        margin:3vh auto;
        background-color: rgba(255,255,255,.1);
        border: 1px solid rgba(255,255,255,.3);
        padding:(5rem/16);
        border-radius: 3px;
        box-sizing: border-box;
        img{
          display: block;
          margin:0 auto;
        }
      }
      .prizeBtn{
        position: absolute;
        bottom:5%;
        left:50%;
        margin-left: -45% ;
        display: inline-block;
        width: 90%;
        text-align: center;
        background: linear-gradient(#8c62a4, #6f4e8c);
        cursor: pointer;
        box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        line-height: 7vh;
        font-size: (20rem/16);
        box-sizing: border-box;
      }
      .prizeHistory{
        position: absolute;
        bottom:0;
        right:0;
      }
    }
  }
  .vote{
    header{
      font-size: (24rem/16);
      span{
        display: inline-block;
        vertical-align: middle;
        font-size: (16rem/16);
        background-color: rgba(0,0,0,0.9);
        line-height: (28rem/16);
        padding: 0 (25rem/16);
        margin-left: (10rem/16);
      }
    }
    .voteMain{
      width: 100%;
      height:70vh;
    }
  }
}



footer{
  position: absolute;
  bottom:0;
  left:0;
  p,ul{
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    left:0;
    width: 100vw;
    height:50px;
    line-height: 50px;
  }
  p{
    bottom:0;
    font-size: (24rem/16);
  }
  ul{
    bottom:-50px;
    background-color: rgba(0,0,0,0.6);
    li{
      position: relative;
      width: 53px;
      height:40px;
      display: inline-block;
      vertical-align: middle;
      margin:0 0.5vw;
      a{
        width: 100%;
        height:40px;
        display: block;
        background: url("http://o7qephszd.bkt.clouddn.com/wechatIcon.png")no-repeat 0 0;
      }

    }
    .icon1{
      background-position: -161px -197px;
    }
    .icon2{
      background-position: -109px -197px;
    }
    .icon3{
      background-position: -4px -197px;
    }
    .icon4{
      background-position: -56px -197px;
    }
    .icon5{
      background-position: -266px -197px;
    }
    .icon6{
      background-position: -214px -197px;
    }
    .icon7{
      background-position: -371px -197px;
    }
    .icon8{
      background-position: -424px -197px;
    }
    .icon9{
      background-position: -319px -197px;
    }
  }
}

//footer hover
.hover{
   p{
     bottom: -(80rem/16);
   }
   ul{
     bottom:0;
   }
 }


#setBgBox{
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  left:50%;
  top:120px;
  margin-left: -(850px/2);
  width: 850px;
  overflow: hidden;
  background-color: #FFFFFF;
  h3{
    color: #747474;
    line-height: (50rem/16);
    font-size: (20rem/16);
    font-weight: 500;
    #setCloseBtn{
      color: #CCCCCC;
      font-size: (35rem/16);
      position: absolute;
      right:(10rem/16);
      display: inline-block;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  ul{
    height:500px;
    overflow: scroll;
    color: #191919;
    li{
      display: inline-block;
      vertical-align: top;
      width: 30%;
      margin:1%;
      img{
        cursor: pointer;
        width: 100%;
        height:167px;
        border:4px solid #e6e6e6;
      }
      p{
        line-height: (30rem/20);
        font-size: (14rem/16);
        text-align: left;
      }
    }
  }
}
