body{
  max-width: 640px;
}
header{
  border-bottom: 1px dashed #CCCCCC;
  img{
    width: 100%;
  }
  h1{
    color: #555;
    font-size: (28rem/16);
  }
  small{
    font-size: (14rem/16);
    color: #777;
  }
}
main{
  p{
    font-size: (18rem/16);
    color: #444;
  }
  .form{
    label{
      font-size: (16rem/16);
      line-height: (32rem/16);
      margin:0 (16rem/16);
      color: #333;
    }
    input[type=button]{
      color: #000;
      line-height: (34rem/16);
      padding: 0 (20rem/16);
      background-color: #CCCCCC;
    }
  }
}